Dear <%=locals.data.user.fullname%>,<br/><br/>

You requested that we send you your secret device credentials for your device <%= locals.data.device.devicename%>. <br/>
You can import the attached .otrc configuration with your mobile app to login.<br/><br/> 

Kind regards,<br/><br/>

The OwnTracks Hosted team<br/>
Follow us on Twitter: <a href="https://twitter.com/owntracks">https://twitter.com/owntracks</a> <br/>
Join our community: <a href="https://community.owntracks.org">https://community.owntracks.org</a>
