extends layout

block flash
  - var flashClass = "col-xs-12 col-sm-6 col-sm-offset-3";

block body
  .row
    .col-xs-12.col-sm-6.col-sm-offset-3
      .panel.panel-default#profile
        .panel-heading
          h4 Finish Twitter Login
        form.bs-example.form-horizontal(method='post', action='/login/twitter/finish')
          .panel-body
            fieldset
              .form-group
                .col-lg-12
                  p 
                    | Please fill in the details below to complete your account creation process.
                  input#email.form-control(name='email', type='email', placeholder='Email', required)
          .panel-footer
            button.pull-right.btn.btn-primary(type='submit', value="delete") Finish
            .clearfix
