Dear <%=locals.data.fullname%>,<br/><br/>

The password for your OwnTracks Hosted account <%= locals.data.username %>, was recently changed.

If you made this change, then you can safely ignore this message. 
If not, please contact our support team at <a href="mailto:support@owntracks.org">support@owntracks.org</a>

Kind regards,<br/><br/>

The OwnTracks Hosted team<br/>
Follow us on Twitter: <a href="https://twitter.com/owntracks">https://twitter.com/owntracks</a> <br/>
Join our community: <a href="https://community.owntracks.org">https://community.owntracks.org</a>